# Ignore files
/.DS_Store
/.idea
/*.sublime-workspace
/*.sublime-project
atlassian*
composer.lock

/.gitattributes

/node_modules
/.grunt
/.buildpath
/.cache
/.metadata
/.project
/.settings

# Ignore magento 2 folder
/bin
/var
/pub
/lib
/setup
/phpserver
/vendor

# Ignore magento 2 rootfolder files
/*.sample
/*.txt
/*.md
/*.php
/.htaccess
/.php_cs
/.travis.yml
/.user.ini

# Ignore magento 2 theme
/app
!/app/design/frontend/Itris/iris/**/*
!/app/code/Itris/**/*
/dev
!/dev/tools/frontools/config/*
/tools

# Allow
!/README.md
!/composer.json